.main {

    // @apply ;
    .settings {
        @apply flex align-middle justify-around mt-4;
        .course {
            // @apply;
        }

        .facult {
            // @apply;
        }

        .group {
            // @apply;
        }
    }
}