        .studyTime {
            @apply mx-10;

            .timeElement {
                @apply py-14 flex flex-col;

                .startCouple {
                    @apply text-3xl font-extrabold;
                }

                .endCouple {
                    @apply text-xl font-extralight;
                }
            }

            .lastTimeElement {
                @apply flex flex-col;

                .startCouple {
                    @apply text-3xl font-extrabold;
                }

                .endCouple {
                    @apply text-xl font-extralight;
                }
            }

            .firstTimeElement {
                @apply flex flex-col;

                .startCouple {
                    @apply text-3xl;
                }

                .endCouple {
                    @apply text-xl font-extralight;
                }
            }
        }

        .shedule{
            @apply w-4/12 flex flex-col relative border-l border-blue-600;

        }


                .timeElement {
                    @apply my-14 flex flex-col;

                    .startCouple {
                        @apply w-28 text-3xl font-extrabold;
                    }

                    .endCouple {
                        @apply ml-3 text-xl font-extralight;
                    }
                }