.video_bg {
    @apply h-screen w-full overflow-hidden flex justify-center items-center relative;
    video {
            @apply absolute top-0 left-0 z-10 w-full h-screen object-cover;
        }
    .effects {
        background-color: rgba(48, 52, 90, 0.4);
        @apply absolute object-cover top-0 left-0 z-20 w-full h-screen;
    }

    .video_bg__content{
        @apply flex flex-col items-center z-20 bg-transparent text-white text-5xl ;
        .blue_block{
            @apply w-28 bg-blue-600 h-2.5 mt-6;
        }
        .text_header{
            @apply font-thin text-3xl mt-6;
        }
        .input_contauner{
            @apply mt-6 bg-transparent w-full flex items-center justify-center;
            .input {
                    @apply border border-gray-300 focus:border-blue-600 text-white text-xl rounded-lg  p-2.5 outline-none
                }
        }
        .button {
            @apply bg-blue-600 hover:bg-blue-700 text-6xl mt-8 font-bold py-3 px-16 rounded-full;
        }
        }
}
.dropList{
    position: relative;
    width: 80%;
    background: rgba(157, 157, 182, 0.4);
    border-radius: 10px;
    li{
        
        border-radius: 10px;
        background: rgba(157, 157, 182, 0.4);
        color: #fff;
        line-height: 1.5em;
        font-size: 0.55em;
    }
}

