@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;500;600;700;900&display=swap");

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}
h1 {
    font-family: "Noto Serif KR", serif;
    background-color: transparent;
    font-size: 65px;
}

.main {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
}

#first_name {
    background: rgba(157, 157, 182, 0.4);
    width: 90%;
    height: 50px;
}

#first_name::placeholder {
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    color: rgb(255, 255, 255);
}

.header__content {
    z-index: 20;
    background-color: transparent;
    color: white;
    width: 85%;
    margin: auto;
}

.fixclass {
    background-color: transparent;
    color: white !important;
}

* {
    background-color: #f7f7fc;
    margin: 0px;
    font-weight: 600;
}

.container {
    max-width: 85%;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

.lesson {
    min-height: 170px;
}

button-30 {
    align-items: center;
    appearance: none;
    background-color: transparent !important;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}

#input {
    background: rgb(247 247 247 / 40%);
    width: 100%;
    height: 60px;
}

#input::placeholder {
    font-size: 20px;
    opacity: 0.9;
    color: rgb(63, 59, 59);
}

.fix-point {
    margin-top: -20px !important;
}
.nolesson-fix-point {
    margin-top: -35px !important;
}

.block-fix {
    margin-top: 20px !important;
}

.nolesson-fix {
    margin-top: 35px !important;
}

.time-block {
    width: 141px;
}

.lessonblock {
    width: 540px;
}
